<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <services>
            <register serviceType="IoTHub.Foundation.Azure.Repositories.IIoTDeviceRepository, IoTHub.Foundation.Azure"
                      implementationType="IoTHub.Foundation.Azure.Repositories.IoTDeviceRepository, IoTHub.Foundation.Azure"
                      lifetime="Transient"/>
            <register serviceType="IoTHub.Foundation.Azure.Repositories.IIoTHubRepository, IoTHub.Foundation.Azure"
                      implementationType="IoTHub.Foundation.Azure.Repositories.IoTHubRepository, IoTHub.Foundation.Azure"
                      lifetime="Transient"/>
            <register serviceType="IoTHub.Foundation.Azure.Repositories.IIoTMessageDeserializerRepository, IoTHub.Foundation.Azure"
                      implementationType="IoTHub.Foundation.Azure.Repositories.IoTMessageDeserializerRepository, IoTHub.Foundation.Azure"
                      lifetime="Transient"/>
            <register serviceType="IoTHub.Foundation.Azure.Repositories.IIoTMessagePropertyRepository, IoTHub.Foundation.Azure"
                      implementationType="IoTHub.Foundation.Azure.Repositories.IoTMessagePropertyRepository, IoTHub.Foundation.Azure"
                      lifetime="Transient"/>
            <register serviceType="IoTHub.Foundation.Azure.Repositories.IIoTMessageTypeRepository, IoTHub.Foundation.Azure"
                      implementationType="IoTHub.Foundation.Azure.Repositories.IoTMessageTypeRepository, IoTHub.Foundation.Azure"
                      lifetime="Transient"/>
            <register serviceType="IoTHub.Foundation.Azure.Repositories.IIoTMethodRepository, IoTHub.Foundation.Azure"
                      implementationType="IoTHub.Foundation.Azure.Repositories.IoTMethodRepository, IoTHub.Foundation.Azure"
                      lifetime="Transient"/>
            <register serviceType="IoTHub.Foundation.Azure.Cache.IMethodCacheManager, IoTHub.Foundation.Azure"
                      implementationType="IoTHub.Foundation.Azure.Cache.MethodCacheManager, IoTHub.Foundation.Azure"
                      lifetime="Transient"/>
        </services>

        <settings>
            <setting name="IoTHub.HubsRepositoryId" value="{62BA65C8-7E6C-4BD5-AA1F-E6EC9E85A26A}"/>
        </settings>

        <scheduling role:require="Standalone or ContentManagement">
            <agent type="IoTHub.Foundation.Azure.Tasks.DeviceToCloudReaderAgent, IoTHub.Foundation.Azure" method="Run" interval="00:01:00"/>
        </scheduling>

        <pipelines>
            <iotHub.InvokeMethod>
                <processor type="IoTHub.Foundation.Azure.Pipelines.InvokeMethodProcessor, IoTHub.Foundation.Azure" resolve="true" />
            </iotHub.InvokeMethod>
        </pipelines>

    </sitecore>
</configuration>