<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
        <services>
            <register serviceType="IoTHub.Feature.Demo.Controllers.SmartDisplayController, IoTHub.Feature.Demo"
                      implementationType="IoTHub.Feature.Demo.Controllers.SmartDisplayController, IoTHub.Feature.Demo"
                      lifetime="Transient"/>
        </services>
  </sitecore>
</configuration>