<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <services>
            <register serviceType="IoTHub.Feature.Forms.Controllers.FormsIoTController, IoTHub.Feature.Forms"
                      implementationType="IoTHub.Feature.Forms.Controllers.FormsIoTController, IoTHub.Feature.Forms"
                      lifetime="Transient"/>
        </services>
    </sitecore>
</configuration>